@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* media mobile 0-500px */

*{
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    min-height: 100vh;
}

.logoImg{
    width: 50px;
    height: 40px;
}

.perfilImg{
    width: 40%;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: none;
    text-decoration: none;
    white-space: nowrap;
    position: fixed;
    z-index: -1;
}

.navbar-dark, .backgroundDark{
    background-color: #00000093;
    backdrop-filter: blur(6px);
}

.navbarHeader, header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
}

.wallpapperGif1{
    opacity: .08;
}

.listaHeader, a{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

.logo{
    width: 35%;
    padding-left: 12px;
}

.divNavbar{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: end;
    align-items: center;
}

.buttonList{
    height: 30px;
    margin: 12px;
}


.card-img-overlay {
    margin-top: 120px;
    margin-left: 35px;
}

span{
    color: dodgerblue;
}
